{{#each posts as |posts|}}
  <div class="card custom-card" onclick="location.href='/post/{{posts.id}}'">
    <div class="card-header custom-card-header">
      {{posts.title}}
    </div>
    <div class="card-body custom-card-txt">
      <blockquote class="blockquote mb-0">
        <p>{{posts.content}}</p>
        <footer class="blockquote-footer custom-card-footer"><cite
            title="Source Title"
          >{{posts.user.username}} on {{posts.createdAt}}</cite></footer>
      </blockquote>
    </div>
  </div>
{{/each}}