<div class="card custom-card custom-edit">
  <div class="card-header custom-admin-card">
    <span>
      {{postData.title}}
    </span>
    <span class="sub-doc">
      {{postData.createdAt}}
    </span>
  </div>
  <div class="card-body custom-card-txt">
    <blockquote class="blockquote mb-0">
      <p>{{postData.content}}</p>
    </blockquote>
  </div>
</div>
{{#if postData.comments}}
  {{#each postData.comments as |comment|}}
    <div class="card custom-card custom-edit">
      <div class="card-body custom-card-txt">
        <blockquote class="blockquote mb-0">
          <p>{{comment.text}}</p>
          <footer class="blockquote-footer custom-card-footer">
            <cite title="Source Title">
              by:
              {{comment.user.username}}
            </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  {{/each}}
{{/if}}
<footer class="container">
  <h1 class="text-container-footer" id="title">Leave a comment!</h1>
</footer>
<br />
<div class="row justify-space-between-md">
  <div class="comment-card">
    <form class="form comment-form">
      <div class="form-group">
        <label
          class="form-header"
          for="post-content"
          id="custom-post-content"
        >Comment:</label>
        <textarea class="form-input" type="text" id="post-content"></textarea>
      </div>
      <div class="form-group form-btn">
        <button class="submit-btn" type="submit" id="save-btn">Save</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>